/* common css  */

:root {
  --primary-color: #0b4c9d;
  /* --font: "Bai Jamjuree", sans-serif; */
  --font: "Lexend", "Lexend Placeholder", "sans-serif";
  /* --body-font: "Sarabun", sans-serif; */
  --body-font: "Inter", "Inter Placeholder", "sans-serif";
  /* --body-font: "Lexend", "Lexend Placeholder", "sans-serif"; */

  --silver: #bac4c9;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Cover full width */
  height: 100%; /* Cover full height */
  background: white url("/images/loader.gif") no-repeat center center;
  background-size: 210px 400px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
}

.mobile-number-ref {
  color: white;
  text-decoration: none;
}
.mobile-number-ref:hover {
  color: #28b097 !important;
}
.mobile-number-ref2 {
  color: black;
  text-decoration: none;
}
.mobile-number-ref2:hover {
  color: #28b097 !important;
}
.social-media-icons {
  display: flex;
  gap: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the top bar text */
#topbar-text {
  animation: fadeInOut 3s infinite ease-in;
}

.social-media-icons .img-wrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #01415f;
}

.img-wrapper:hover {
  background-color: #28b097 !important;
}
.social-media-icons img {
  width: 1rem;
  height: 1rem;
}
.city-header-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 5rem;
  width: 100%;
  background-position: left top;
  background-size: cover;
  background-image: url("../images/header-img.jpg");
}
.city-header-section p {
  color: white;
  position: relative;
  font-size: 2.2rem;
  font-family: var(--font) !important;
  line-height: 2;
  font-weight: 700;
  z-index: 2;
}
.city-header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 6rem 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.city-header-section .breadcrumb {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2;
}

.city-header-section .breadcrumb img {
  width: 1rem;
  height: 1rem;
}
@media screen and (min-width: 300px) {
  .topbar-section-common {
    display: none;
  }
  .topbar-section-container {
    margin-top: 0rem !important;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    width: 88%;
  }
  .city-header-section p {
    font-size: 1.55rem;
  }
  .city-header-section .breadcrumb p {
    font-size: 0.55rem;
    font-weight: 300;
  }
}

.city-header-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 5rem;
  width: 100%;
  background-position: left top;
  background-size: cover;
  background-image: url("../images/header-img.jpg");
}
.city-header-section p {
  color: white;
  position: relative;
  font-size: 2.2rem;
  font-family: var(--font) !important;
  line-height: 2;
  font-weight: 700;
  z-index: 2;
}
.city-header-section .breadcrumb p {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 600px) and (min-width: 10px) {
  .city-header-section p {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) and (min-width: 10px) {
  .city-header-section {
    padding: 4rem 1rem;
  }
}

@media (max-width: 900px) and (min-width: 10px) {
  #preloader {
    background-size: 150px 300px; /* optional: size of the GIF */
  }
}

@media screen and (min-width: 600px) {
  .topbar-section-container {
    margin-top: 0rem !important;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .topbar-section-common {
    display: block;
  }

  .topbar-section-common {
    padding: 0.5rem 2rem;
    background-color: #01628f;
    position: relative;
    z-index: 9999;
  }
}
