:root{
    --primary-color:#01628F;
    --font:"Bai Jamjuree", sans-serif;
    --body-font:"Sarabun", sans-serif;
    --silver:#BAC4C9
}
.social-media-icons{

  display: flex;
  gap:0.2rem
}

  @keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    /* Apply the animation to the top bar text */
    #topbar-text {
        animation: fadeInOut 3s infinite ease-in;
    }

.social-media-icons .img-wrapper{
 width: 2rem;
 height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #01415f;
  
}
.social-media-icons .img-wrapper:hover{
  background-color: #E77640;
}
.social-media-icons img{
  width: 1rem;
  height: 1rem;

}
.city-header-section{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 5rem;
    width: 100%;
    background-position: left top;
    background-size: cover;
    background-image: url('../images/header-img.jpg');
    
}
.city-header-section p{
    color: white;
    position: relative;
    font-size: 2.2rem;
    font-family: var(--font);
    line-height: 2;
    font-weight: 700;
    z-index: 2;

}
.city-header-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  bottom: 0;
  right: 0;
    padding: 8rem 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}
.city-header-section .breadcrumb{
    display: flex;
    align-items: center;
    gap: 1rem;
position: relative;
z-index: 2;
}
.city-header-section .breadcrumb p{
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 300;
}
.city-header-section .breadcrumb img{
    
width: 1rem;
height: 1rem;
}
@media screen and (min-width:300px) {
  .city-header-section{
    padding: 8rem 2rem;
  }
  .topbar-section-common{
 display: none;
  }
  .topbar-section-container{
    margin-top: 0rem !important;
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
  }
}
@media screen and (min-width:600px) {
  .topbar-section-container{
    margin-top: 0rem !important;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-between;
  }

}
@media screen and (min-width:1200px) {
  .topbar-section-common{
    display:block;
     }

 
  .topbar-section-common{
    padding: 0.5rem 2rem;
    background-color: #01628F;
  }
    
}




