:root{
    --primary-color:#01628F;
    --font:"Bai Jamjuree", sans-serif;
    --body-font:"Sarabun", sans-serif;
    --silver:#BAC4C9
}
.hero-section-btn2-franchise{
    color: white;
    max-width: 20rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    background-color:var(--primary-color);
    margin-top: 2rem;
   border-radius: 0.7rem;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 18px 40px;
    border: none;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: transform 0.3s ease; 
    overflow: hidden;
   
}
.hero-section-btn2-franchise:hover{
    transform: scale(0.95);
    background-color: #D06A28;
}
.hero-section-btn2-franchise:before{
    content:'';
    position:absolute;
    height: 200px;
    width: 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 10px #fff;
    filter: blur(1px);
    opacity: 0.9;
    top:-30px;
    transition: 0.7s;
    transform: rotate(-20deg) translateX(-60px);
    animation: slide2 2s infinite;
}
@keyframes slide2 {
    0% {
        transform: rotate(-20deg) translateX(-60px);
    }
    100% {
        transform: rotate(-20deg) translateX(300px) translateY(70px);
    }
}



@media screen and (min-width:300px) {
    .franchise-hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:6rem;
        flex-direction: column;
        padding-top:2rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .franchise-hero-section-left{
        width: 100%;
      
        }
    .franchise-hero-section-right{
            width: 100%;    
            max-width:35rem; 
           
    }
    .franchise-hero-section-left h1{
            font-size: 25px;
            color: #212529;
            font-family: var(--font);
            margin-bottom: 1.5rem;
            line-height: 32px;
            font-weight: 700;
    }
    .franchise-hero-section-left h2{
            font-size: 20px;
            font-family: var(--body-font);
            color: #585858;
            margin-bottom: 1rem;
            line-height: 28px;
            font-weight: 200;
            margin:0px auto;
   }
    .franchise-hero-section-right iframe{
            width: 100%;
            
            height:15rem;
            border-radius: 15px;
            box-shadow: 15px 15px 15px hsl(0, 50%, 2%, .5);   
    }
    .franchise-success-stories{
        background-color: #F0F3FF;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .franchise-success-stories .heading{
        text-align: center;
        font-size: 1.5rem;
        font-family: var(--font);
    
    }
    .franchise-success-stories .subheading{
        text-align: center;
        font-size: 1rem;
        color: var(--primary-color);
        text-transform: uppercase;
        font-family: var(--font);
        margin-bottom: 0.8rem;
    
    }
    .franchise-success-stories-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        gap:2rem;
    }
    .franchise-success-stories-card{
        width:80%;
        max-width: 35rem;
        background-color: white;
        border-radius: 20px;
        padding: 0.7rem;
    }
    .franchise-success-stories-card iframe{
        width: 100%;
        box-shadow: 5px 5px 5px hsl(0, 50%, 2%, .5);
        border-radius: inherit;
        height:255px;
    }
    
    
}
@media screen and (min-width:600px) {
    
}
@media screen and (min-width:1200px) {
    .franchise-hero-section-left h1{
        font-size: 30px;
        color: #212529;
        font-family: var(--font);
        margin-bottom: 1.5rem;
        line-height: 32px;
        font-weight: 700;
}
.franchise-hero-section-left h2{
        font-size: 24px;
        font-family: var(--body-font);
        color: #585858;
        margin-bottom: 1rem;
        line-height: 28px;
        font-weight: 200;
        margin:0px auto;
}
    .franchise-impact .heading{
        text-align: center;
        font-size: 2rem;
        font-family: var(--font);
    
    }
    .franchise-hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:8rem;
        flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    .franchise-hero-section-left{
        width: 40%;
      
        }
    .franchise-hero-section-right{
        width: 50%;
       
    }
    .franchise-hero-section-right iframe{
        width: 100%;
        height:20rem;
        border-radius: 15px;
        box-shadow: 15px 15px 15px hsl(0, 50%, 2%, .5);
    
    }
    .franchise-success-stories-card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        gap:2rem;
    }
    .franchise-success-stories-card{
        width:80%;
        max-width: 35rem;
        background-color: white;
        border-radius: 20px;
        padding: 0.7rem;
    }
    .franchise-success-stories-card iframe{
        width: 100%;
        box-shadow: 5px 5px 5px hsl(0, 50%, 2%, .5);
        border-radius: inherit;
        height:255px;
    }
    
}





.franchise-cta-btn{
    background-color: #01628F;
    color: #ffffff;
    padding:1.5rem 3rem;
    font-size: 1.35rem;
    font-weight: 700;
    margin-top: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 15px 15px 15px hsl(0, 50%, 2%, .5);

}







.franchise-impact{
    
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.franchise-impact .subheading{
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: var(--font);
    margin-bottom: 0.8rem;

}

.franchise-impact-main-component-left-points{
    display: flex;
    gap:1rem;
    justify-content: center;
}
.franchise-effect-icon{
    background-color: var(--primary-color);
    display: flex;
    
    justify-content: center;
    border-radius: 10px;
    padding: 2rem 2rem;
   
    
}
.franchise-pt-head{
    font-weight: 300;
    
}
.franchise-effect-icon img{
    width: 3rem;
    height: 3rem;
}




