.center-div-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to bottom, white 60%, #0b4c9d 100%);
  width: 85%;
}

.center-div-container-hr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.whole-image-class {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#home-page-hero-section {
  width: 100%;
  margin-bottom: 20rem;
}

.homepage-hero-section-container-one {
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

.homepage-main-images-container {
  height: 100vh;
  width: 55vh;
  max-width: 100%;
  overflow: hidden;
  aspect-ratio: 9/16;
}

.three-images-homepage-section {
  height: 33rem;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .homepage-main-images-container {
    height: 57vh;
    width: 28vh;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 9 / 16;
  }
}

@media (max-width: 1024px) {
  .homepage-main-images-container {
    width: 45vh; /* thoda chhota kar diya large tablets ke liye */
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .homepage-main-images-container {
    height: 50vh;
    width: 25vh;
    max-width: 100%;
    overflow: hidden;
    aspect-ratio: 9 / 16;
  }
}

@media (max-width: 600px) {
  .homepage-main-images-container {
    display: none;
  }

  .homepage-hero-section-container-one {
    padding-inline: 1rem;
  }
  #home-page-hero-section {
    margin-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  .homepage-main-images-container {
    width: 35vh;
    height: 80vh; /* height bhi adjust ho sake */
    display: none;
  }
  .downld-carmaa-para-content {
    font-size: 1rem;
  }
}
