.download-btn {
  margin-top: 2rem;
  width: 10rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download-btn img {
  height: auto;
  width: 100%;
  margin-left: 1rem;
  border-radius: 17px;
  transition: transform 0.3s ease-in-out;
}

.download-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.download-btn:hover img {
  transform: scale(1.05);
}
