:root{
    --primary-color:#01628F;
    --font:"Bai Jamjuree", sans-serif;
    --body-font:"Sarabun", sans-serif;
    --silver:#BAC4C9
}
.whats-included-container{
    min-height: 21rem;
}
.spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 0.6s linear infinite;
    margin-left: 8px; /* Adjust for spacing */
    vertical-align: middle;
}
.pricing-section{
    padding: 2rem 1rem !important;
    background-color: #F0F3FF;
}
.pricing-sub{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: var(--font);
    text-align: center;
    font-weight: 600;
    color: #01628F;
}
.pricing-heading{
    font-family: var(--font);
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;  
}
.pricing-container{
    
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.pricing-card:hover{
    box-shadow: 10px 10px 10px hsl(0, 50%, 2%, .5);
    scale: 1.03;

}
.pricing-label{
    position: absolute;
    right: -50px;
    top:15px;
    font-weight: 600;
    background-color: #D06A28;
    color: white;
    font-size: 1.2rem;
    transform: rotate(30deg);
    padding:0.5rem 5rem;

}
.pricing-plan-name{
    color: #0E111B;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2rem;
}
.pricing-starting{
    color: #424649;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-family: var(--font);
    font-size: 1.1rem;
}
.pricing-price{
    color: #0E111B;
    font-family: var(--font);
    font-size: 52px;
    font-weight: 700;
  
   

}
.whats-included{
    color: #0E111B;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    margin-top: 2rem;

}
.whats-included-pts{
display: flex;
align-items: center;
gap: 0.5rem;
margin-top: 1rem;
}
.whats-included-pts img{
    width: 1.2rem;
    height: 1.2rem;
}

.whats-included-pt-wrapper:after {
    content: "";
    display: block;
    
    width: 100%; /* Full width of the parent container */
    height: 1px; /* Thickness of the line */
    background-color: #0000002e; /* Line color */
    margin-top: 0.8rem; /* Space above the line */
}
.pricing-section-card-btn{
    padding: 20px 30px 20px 30px;
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #01628F;
    color: white;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease !important;

}
.pricing-section-card-btn:hover{
    transform: scale(0.95)
}
@media screen and (min-width:300px) {
    
    .pricing-container{
       
        flex-direction: column;
    }
    .pricing-card{
    
        position: relative;
        background-color: #ffffff;
        border: 1px;
        border-radius: 10px;
        border-style: solid;
        padding: 2rem 2rem;
        width: 350px;
        overflow: hidden;
        box-shadow: 3px 3px 3px hsl(0, 50%, 2%, .5);
        transition: all 0.3s ease-in;
    }
    
}
@media screen and (min-width:1250px) {
    .pricing-container{
        flex-direction: row;
        gap:1rem
        
    }
    .pricing-card{
    
        position: relative;
        background-color: #ffffff;
        border: 1px;
        border-radius: 10px;
        border-style: solid;
        padding: 2rem 2rem;
        width: 400px;
        overflow: hidden;
        box-shadow: 3px 3px 3px hsl(0, 50%, 2%, .5);
        transition: all 0.3s ease-in;
    }
    
}
@media screen and (min-width:1380px) {
    .pricing-container{
        flex-direction: row;
        gap:3rem
        
    }
    
}

.pricing-slider{
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.parent-slider{
    width: 70%;
    margin:auto;
    height:500px;
    margin-top:4rem;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
}
.parent-slider-slide{
    width: 100%;
    height:500px;
        position: absolute;
        transition: 1s;
}
.slider-slide-img{
    width: 100%;
    height:500px;
      
    
}
.parent-slide-desc{
    position: absolute;
    top: 0;
    left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  padding-left:1rem;
  padding-top: 1rem;
}
.parent-slider-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  bottom: 0;
  right: 0;
    padding: 8rem 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}
.parent-slide-desc-heading{
    color: white;
    font-weight: 700;
    font-family: var(--font);
    font-size: 2rem;
}
.parent-slide-desc-points{
    color: #ffffff;
    margin-top: 1rem;
}
.points-desc{
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    font-family: var(--body-font);

}
.book-now-btn{
    padding: 1rem 1rem;

}



.gallery2{
    width: 330px;
    max-width: 40rem;
    display: flex;
   
    overflow-x: scroll;
}
.gallery2::-webkit-scrollbar{
    display: none;
}

.gallery2 div img{
    width: 100%;
    
  
}
.gallery2-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
}
.gallery2-card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.gallery2-card:before{
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery2-card-desc{
    position: absolute;
    z-index: 1;
    top:0;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.gallery2-card-desc h1{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: var(--font);
}

















.gallery{
    width: 1500px;
    display: flex;
   
    overflow-x: scroll;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery .gallery-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

} 
.gallery div img{
    width: 100%;
    
  
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
}
.gallery-card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.gallery-card:before{
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery-card-desc{
    position: absolute;
    z-index: 1;
    top:0;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.gallery-card-desc h1{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: var(--font);
}














@media screen and (min-width:300px) {
    #back-btn{
        display: none;
    }
    #next-btn{
        display: none;
    }
    .gallery2{
       
        width: 330px;
        max-width: 40rem;
        display: flex;
       
        overflow-x: scroll;
    }
    .gallery{
        width: 1500px;
      
        display: none;
        overflow-x: scroll;
    }



    .gallery2 .gallery2-wrapper{
      
        min-width: 330px;
        max-width: 330px;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 5px;
        padding: 2px;
        flex: none;
    
    } 
    .gallery2 div img{
        width: 100%;
        
      
    }
    
}

@media screen and (min-width:1200px) {
    #back-btn{
        display: block;
    }
    #next-btn{
        display: block;
    }
    #back2-btn{
        display: none;
    }
    #next2-btn{
        display: none;
    }
    .gallery2{
       
        width: 1500px;
        max-width: 40rem;
        display: none;
       
        overflow-x: scroll;
    }
    .gallery{
        width: 1500px;
      
        display: flex;
        overflow-x: scroll;
    }
}
