:root{
    --primary-color:#01628F;
    --font:"Bai Jamjuree", sans-serif;
    --body-font:"Sarabun", sans-serif;
    --silver:#BAC4C9
}
.carmaa-timeline-container{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 5rem;
   gap:1rem


}
.carmaa-timeline-left{
    width: 100%;
}
.carmaa-timeline-right{
    width: 100%;
}
.carmaa-timeline-right img{
    border-radius: 20px;
width: 100%;
}
.carmaa-timeline-points-wrapper{
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

}
.carmaa-timeline-points-wrapper h1{
    padding-left:1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    color: #01628F;
    font-size: 1.75;
    margin-bottom: 0.5rem;
}
.carmaa-timeline-points-wrapper p{
    display: none;
    padding-left:1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.carmaa-timeline-points-wrapper.carmaa-timeline-active p {
    display: block;
    opacity: 1;
    transition: opacity 0.4s ease; 
}

.carmaa-timeline-active{
    background-color: #80d7ff;
}
.bottom-line {
    width: 0;
    height: 6px;
    background-color: #01628F; /* Adjust color as needed */
}

/* Bottom line animation class */
.bottom-line-animation {
    animation: bottomLine 10s ease-in;
}

/* Keyframe animation for the bottom line */
@keyframes bottomLine {
    0% { width: 0; }
    100% { width: 100%; }
}
@media screen and (min-width:500px) {
    .carmaa-timeline-container{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
       
        margin-top: 5rem;
        gap:4rem
    
    
    }
    .carmaa-timeline-left{
        width: 70%;
    }
    .carmaa-timeline-right{
        width: 70%;
    }
    .carmaa-timeline-right img{
        border-radius: 20px;
    width: 100%;
    }
    .carmaa-timeline-points-wrapper{
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 1.5rem;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
    
    }
    .carmaa-timeline-points-wrapper h1{
        padding-left:1.5rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        color: #01628F;
        font-size: 1.75;
        margin-bottom: 0.5rem;
    }
    .carmaa-timeline-points-wrapper p{
        display: none;
        padding-left:1.5rem;
        margin-bottom: 1.5rem;
        padding-right: 1.5rem;
      text-align: justify;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
}
@media screen and (min-width:800px) {
    .carmaa-timeline-container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       
        margin-top: 5rem;
        gap:4rem
    
    
    }
    .carmaa-timeline-left{
        width: 50%;
    }
    .carmaa-timeline-right{
        width: 50%;
    }
    .carmaa-timeline-right img{
        border-radius: 20px;
    width: 100%;
    }
    .carmaa-timeline-points-wrapper{
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 1.5rem;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
    
    }
    .carmaa-timeline-points-wrapper h1{
        padding-left:1.5rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        color: #01628F;
        font-size: 1.75;
        margin-bottom: 0.5rem;
    }
    .carmaa-timeline-points-wrapper p{
        display: none;
        padding-left:1.5rem;
        margin-bottom: 1.5rem;
        padding-right: 1.5rem;
      text-align: justify;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
}
@media screen and (min-width:1200px) {
    .carmaa-timeline-container{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem; 
        margin-top: 5rem;
        gap:4rem
    
    
    }
    .carmaa-timeline-left{
        width: 50%;
        max-width: 565px;
    }
    .carmaa-timeline-right{
        width: 50%;
        max-width: 565px;
    }
    .carmaa-timeline-right img{
        border-radius: 20px;
    width: 100%;

    }
    .carmaa-timeline-points-wrapper{
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 1.5rem;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
    
    }
    .carmaa-timeline-points-wrapper h1{
        padding-left:1.5rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        color: #01628F;
        font-size: 1.75;
        margin-bottom: 0.5rem;
    }
    .carmaa-timeline-points-wrapper p{
        display: none;
        padding-left:1.5rem;
        margin-bottom: 1.5rem;
        padding-right: 1.5rem;
      text-align: justify;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
}