:root {
  --primary-color: #0b4c9d;
  /* --font: "Bai Jamjuree", sans-serif; */
  --font: "Lexend", "Lexend Placeholder", "sans-serif";
  /* --body-font: "Sarabun", sans-serif; */
  --body-font: "Inter", "Inter Placeholder", "sans-serif";
  --silver: #bac4c9;
}

.blog-container {
  background-color: #f0f3ff;
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.blog-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.blog-header-container.active {
  border-bottom: 2px solid blue; /* Underline effect */
}
.blog-header-main-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4%;
  padding-left: 28px;
  color: black;
}

.blog-navbar-underline {
  border-bottom: 2px solid black;
}

#main-container-one {
  width: 100%;
  height: auto;
}

.main-container {
  padding: 20px;
  color: white;
  display: none;
  gap: 5%;
}

.main-container.active {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

a {
  text-decoration: none;
}
.blog-section-main-container {
  width: 25rem;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 360px;
  overflow: scroll;
}
.blog-section-container {
  flex: 1;
  padding-inline: 1.5rem;
}
.blog-heading-para {
  font-size: 0.9rem;
  font-weight: 500;
}

.blog-sub-para {
  padding-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.blog-sub-heading {
  padding-top: 1rem;
}
.blog-date-para {
  padding-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #7e8183e7;
}

.blog-icons-container {
  height: 40px;
  width: 40px;
}

.blog-icons-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.read-more {
  color: #0b4c9d;
  font-weight: 600;
  font-size: 0.9rem;
}
.read-more:hover {
  color: #28b097;
}

.blog-img-container {
  padding: 0rem 1rem 1rem 1rem;
}

.blog-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 600px) and (min-width: 10px) {
  .blog-container {
    padding: 0rem;
    padding-top: 0.5rem;
  }

  .blog-section-main-container {
    width: fit-content;
  }

  .blog-header-main-container {
    padding-left: 12px;
    padding-bottom: 5rem;
    padding-top: 2rem;
  }

  .main-container {
    padding: 0px;
  }
  .main-container.active {
    gap: 1.5rem;
  }

  .blog-date-para {
    padding-top: 0rem;
  }
}
