<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wave {
            --size: 50px;
            --m: 2;
            --p: calc(var(--m)*var(--size));
            --R: calc(var(--size)*sqrt(var(--m)*var(--m) + 1));
            padding-top: 50px;
            mask:
                radial-gradient(var(--R) at left 50% top calc(var(--size) + var(--p)), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
                radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), #0000 99%, #000 101%) left 50% top var(--size) / calc(4 * var(--size)) 100% repeat-x;
        }
    </style>
</head>

<body>
    <footer class="wave" style="width: 100vw;  background-color: #F2F8FE;">
        <div
            style="width: 95%; flex-wrap: wrap; padding-top: 50px; max-width: 1200px;margin: auto; justify-content: center;  display: flex;gap: 15px; align-items: center;">

            <a href="/" style="height: 100px;  width: 100px; ">
                <img src="../images/logo.png" style="height: 100%;width: 100%; object-fit: contain;" alt="">
            </a>

            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;" href="/">Home</a>

            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;"
                href="../pricing.html">Pricing</a>
            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;"
                href="../store.html">Store</a>
            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;"
                href="../about.html">About us</a>
            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;"
                href="../franchise.html">Franchise</a>
            <a style="font-size: 1.1rem; text-decoration: none;font-weight: 900; color: #000;" href="../tems.html">Term & Condition</a>

        </div>
        <div
            style="width: 95%; flex-wrap: wrap;padding: 30px 0px;align-items: center;  max-width: 1200px;margin: auto; display: flex; justify-content: space-between;">

            <div style="display: flex; gap: 30px;">
                <div
                    style="border-radius: 50%; background-color: #0A2540; width: 50px; aspect-ratio: 1;display: flex;align-items: center;justify-content: center;">
                    <ion-icon style="color: white; font-size: 1.4rem;" name="logo-instagram"></ion-icon>
                </div>
                <div
                    style="border-radius: 50%; background-color: #0A2540; width: 50px; aspect-ratio: 1;display: flex;align-items: center;justify-content: center;">
                    <ion-icon style="color: white; font-size: 1.4rem;" name="logo-linkedin"></ion-icon>
                </div>
                <div
                    style="border-radius: 50%; background-color: #0A2540; width: 50px; aspect-ratio: 1;display: flex;align-items: center;justify-content: center;">
                    <ion-icon style="color: white; font-size: 1.4rem;" name="logo-twitter"></ion-icon>
                </div>
            </div>
            <div
                style=" height: 70px;  ">
                <img src="../images/startupindia.png" style="height: 100%; object-fit: contain;" alt="">
            </div>
        </div>

    </footer>
    <div style="width: 100vw;  background-color: #F2F8FE; border-top: 1px solid gray; padding: 20px;">
        <p style="text-align: center;">By continuing past this page, you agree to our Terms of Service, Cookie
            Policy. Privacy Policy and Content Policies</p>
        <p style="text-align: center;">
            © 2024 CarMaa Technologies Private Limited. All Rights Reserved.</p>
    </div>
</body>

</html>