    <link rel="stylesheet" href="../css/footer.css" />
    <style>
        .wave {
            --size: 50px;
            --m: 2;
            --p: calc(var(--m)*var(--size));
            --R: calc(var(--size)*sqrt(var(--m)*var(--m) + 1));
            padding-top: 50px;
            mask:
                radial-gradient(var(--R) at left 50% top calc(var(--size) + var(--p)), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4 * var(--size)) 100%,
                radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), #0000 99%, #000 101%) left 50% top var(--size) / calc(4 * var(--size)) 100% repeat-x;
        }

        .footer-container-div{
            width: 85%;
            margin: auto;
        }
        
        .logo-img-container{
            width: 10rem;
            /* height: 10rem; */
        }
        .footer-logo-img{
            width: 100%;
        }
        .links-main-container{
            display: flex;
            align-items: baseline;
            padding-top: 20px;
            justify-content: space-between;
            padding-bottom: 1.5rem;
            
        }
        .footer{
            padding-top: 35px;
            padding-bottom: 35px;
        }
        .link-section-child{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .link-section-child p{
            font-size: 16px;
            padding-bottom: 5px;
        }
        .footer-link{
            font-size: 14px;
        }
        .download-app-main-container{
            display: flex;
            align-items: center;
            gap: 4rem;
            justify-content: center;
            padding-bottom: 1rem;
        }
          .download-app-heading{
            font-size: 2rem;
            color: white;
        }
        .download-btn-footer {
            width: 12rem;
            padding-top: 30px;
        }
        .download-btn-footer {
            cursor: pointer;
        }

        .download-btn-footer img{
            width: 100%;
        }

        @media (max-width: 900px) and (min-width: 10px){
            .links-main-container{
                gap: 25px;
                flex-wrap: wrap;

            }
            .link-section-child {
                align-items: start;
            }
            /* .footer {
                padding: 35px 5% 50px 5%;
} */
        }

    </style>

  <footer class="footer">
        <div class="footer-container-div">
            <!-- carmaa logo -->
                <div class="footer-logo-container">
                    <a href="/">
                        <div class="logo-img-container">
                            <img src="/images/carmaa_footer_logo.png" class="footer-logo-img" />
                        </div>
                    </a>   
                </div>


                <!-- carmaa footer links -->
            <div class="links-main-container">
                <div class="support-email-container">
                    <a class="mobile-number-ref2" href="mailto:support@carmaacarcare.com"> <p class="follow-us"><img src="/images/footer/email.png"/> support@carmaacarcare.com</p></a>
                    <a class="mobile-number-ref2" href="tel:+917042555401"> <p class="follow-us"><img src="/images/footer/telephone-call.png"/>+91-70425 55401</p></a>
                </div>

                <div class="link-section-child ">
                    <h5>Quick Links</h5>
                    <p><a class="footer-link" href="/blogs">Blogs</a></p>
                    <!-- <p><a class="footer-link" href="/pricing/">Pricing</a></p> -->
                    <p><a class="footer-link" href="/about">About Us</a></p>
                    <p><a class="footer-link" href="/contactus">Contact Us</a></p>
                </div>

                <div class="link-section-child ">
                    <h5>Our Locations</h5>
                    <a class="footer-link " href="/doorstep-car-washing-service-in-dehradun"><p class="footer-dehradun">Dehradun</p></a>
                </div>


                <div class="link-section-child link-section-child-container">
                    <h5>Social links</h5>
                    <div class="social-media-icons">
                            <a href="https://www.facebook.com/carmaaofficialpage" target="_blank"><div class="img-wrapper"><img src="/images/contactus/facebook.png"/></div></a>
                            <a  href="https://www.instagram.com/carmaa_official" target="_blank"><div class="img-wrapper"><img src="/images/contactus/instagram.png"/></div></a>
                            <a  href="https://www.youtube.com/@carmaa_Official" target="_blank"><div class="img-wrapper"> <img src="/images/contactus/youtube.png"/></div></a>
                            <a  href="./blogs/"><div class="img-wrapper"> <img src="/images/home-page/topbar/blogger.png"/></div></a>
                    </div> 
                    
                    <div class="download-btn-footer" >
                    <img src="/images/ui_change_images/play_store.png" alt="">
                </div>
                </div>
            </div>


























            
          

            <!-- <div class="footer-content-main-container">
            <div class="three-links-content-container">
                <div class="footer-logo-container">
                    <a href="/">
                        <div style="width:10rem;">
                            <img src="/images/carmaa_footer_logo.png" class="footer-logo" />
                        </div>
                    </a>   
                </div>

                    <div class="footer-support-number-container">
                    <a class="mobile-number-ref2" href="mailto:support@carmaacarcare.com"> <p class="follow-us"  ><img src="/images/footer/email.png"/> support@carmaacarcare.com</p></a>
                    <a class="mobile-number-ref2" href="tel:+917042555401"> <p class="follow-us"><img src="/images/footer/telephone-call.png"/>+91-70425 55401</p></a> -->
    














                    <!-- <div style="margin-top: 4rem">
                        <iframe
                        class="location-map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.9508978443537!2d78.00875827556449!3d30.323914474784026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092b220f7bb141%3A0x4dcd92ffe2c4d873!2sCarmaa!5e0!3m2!1sen!2sin!4v1728807804305!5m2!1sen!2sin"
                        width="60%"
                        height="30"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div> -->
                    <!-- </div>
                </div>
            </div>

            
            <div class="quick-links-main-container link-section-child-container">
                <div class="link-section-child ">
                <h5>Quick Links</h5>
                <p><a class="footer-link" href="/about">About Us</a></p>
                <p ><a class="footer-link" href="/contactus">Contact Us</a></p>
                <p><a class="footer-link" href="/pricing/">Pricing</a></p>
                <p><a class="footer-link" href="/blogs">Blogs</a></p>
                </div>

                <div class="link-section-child link-section-child-container">
                      <h5>Social links</h5>
                      <div class="social-media-icons">
                        <a href="https://www.facebook.com/carmaaofficialpage" target="_blank"><div class="img-wrapper"><img src="./images/contactus/facebook.png"/></div></a>
                        <a  href="https://www.instagram.com/carmaa_official" target="_blank"><div class="img-wrapper"><img src="./images/contactus/instagram.png"/></div></a>
                        <a  href="https://www.youtube.com/@carmaa_Official" target="_blank"><div class="img-wrapper"> <img src="./images/contactus/youtube.png"/></div></a>
                        <a  href="./blogs/"><div class="img-wrapper"> <img src="./images/home-page/topbar/blogger.png"/></div></a>
                </div>     
                </div>
            </div>

            
            <div class="link-section-child-container">
            <div class="link-section-child ">
                <h5>Our Locations</h5>
                <a class="footer-link " href="/doorstep-car-washing-service-in-dehradun"><p class="footer-dehradun">Dehradun</p></a>
            </div>


       
       
            </div> -->

            <!-- <div>
                <div class="dpiit-logo-container" >
                    <img src="images\footer\DPIIT-header.png" class="dpiit-logo" >
                </div>
                <div class="dpiit-logo-container" >
                    <img src="../images/footer/startupUK.webp" class="dpiit-logo" >
                </div>
            </div> -->

            <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="map-address-footer-container">
        <p>Carmaa Car Care
        Tea Estate, Near Bhadri Guest House, Banjarawala, Dehradun, Uttarakhand 248001</p>
      </div> -->


   
      <hr>

        <div class="copyright">
            <p class="">By continuing past this page, you agree to our <a class="footer-link" style="color: #01628F;" href="/terms-conditions">Terms of Service</a>, Cookie Policy. <a class="footer-link" style="color: #01628F;"   href="/privacy-policy">Privacy Policy</a> and Content Policies © 2025</span> Carmaa Car Care. All Rights Reserved. </p>
        </div>
  </footer>


