<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *::-webkit-scrollbar {
            display: none;
        }

        * {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    </style>
</head>

<body>
    <div
        style="width: 95%;height: 100%; position: relative; max-width: 1200px;margin: auto; display: flex;align-items: center; justify-content: space-between;">
        <div style="font-size: 1.5rem; text-transform: uppercase; font-weight: 700; height: 100px;">
            <a href="/" style="height: 100%;">
                <img src="../images/logo.png" style="height: 100%; object-fit: contain;" alt="">
            </a>
        </div>
        <ul style="display: flex;align-items: center;justify-content: center;gap: 30px;">
            <li style="cursor: pointer; "><a
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: #000;" href="/">Home</a>
            </li>
            <li style="cursor: pointer; "><a
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: #000; "
                    href="./pricing.html">Pricing</a> </li>
            <li style="cursor: pointer; "> <a
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: #000;"
                    href="./store.html">Store</a> </li>
            <li style="cursor: pointer; "> <a
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: #000;"
                    href="./about.html">About</a></li>
            <li style="cursor: pointer; "> <a
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: #000;"
                    href="./franchise.html">Franchise</a></li>
        </ul>
        <div style="display: flex; gap: 20px; align-items: center;">

            <div
                style=" background-color: #183ea1; color: white; padding: 10px 15px; font-size: 1.2rem; font-weight: 400; cursor: pointer;border-radius: 6px;">
                <a href="./contactUs.html"
                    style="font-size: 1.1rem;font-weight: 500; text-decoration: none; color: white ;">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
</body>

</html>