<link rel="stylesheet" href="/css/globalCss/navbarGlobal.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap"
  rel="stylesheet"
/>

<style>
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
    font-family: "Lexend", "Lexend Placeholder", "sans-serif";
    font-size: 16px;
  }

  /* li {
    list-style: none;
  } */

  .toggle {
    display: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media screen and (max-width: 1150px) {
    .menu {
      position: fixed;
      background-color: rgb(255, 255, 255);
      border-top: 1px solid gray;
      top: 80px;
      height: calc(100vh - 80px);
      width: 100vw;
      right: 0px;
      flex-direction: column;
      justify-content: flex-start !important;
      padding: 50px 0px;
      gap: 30px;
      transform: translateX(100%);
    }

    .active {
      transform: translateX(0%) !important;
    }
  }

  @media (max-width: 1150px) and (min-width: 0px) {
    .toggle {
      display: inline;
      cursor: pointer;
    }
  }

  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }

  .accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #28b097;
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    /* padding: 1em 0; */
    color: #20272e;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }

  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #28b097;
  }

  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #28b097;
    border: 1px solid #03b5d2;
  }

  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    /* font-size: 1.3rem; */
    font-size: 1rem;
    font-family: var(--body-font);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6em;
  }

  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }

  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  .accordion button[aria-expanded="true"] {
    color: #28b097;
  }

  .accordion button[aria-expanded="true"] .icon::after {
    width: 0;
  }

  .accordion button[aria-expanded="true"] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
</style>

<style>
  @media screen and (max-width: 800px) {
    .menu {
      position: fixed;
      background-color: rgb(255, 255, 255);
      border-top: 1px solid gray;
      top: 80px;
      height: calc(100vh - 80px);
      width: 100vw;
      right: 0px;
      flex-direction: column;
      justify-content: flex-start !important;
      padding: 50px 0px;
      gap: 30px;
      transform: translateX(100%) !important;
    }

    .active {
      transform: translateX(0%) !important;
    }
    /* 
    .toggle {
      display: inline;
      cursor: pointer;
    } */
  }
</style>

<nav id="nav-placeholder" class="main-navbar-container">
  <div class="navbar-main-container">
    <div class="navbar-carmaa-logo-container">
      <a href="/" class="navbar-carmaa-logo-link">
        <img
          class="navbar-carmaa-logo-img"
          src="/images/logo.png"
          alt="Car Washing Service in Dehradun"
        />
      </a>
    </div>
    <ul class="menu navbar-menu-ul" id="menu">
      <li>
        <a class="nav-item-list navbar-item-menu-link" href="/">Home</a>
      </li>
      <li>
        <a class="nav-item-list navbar-item-menu-link" href="../about/"
          >About Us</a
        >
      </li>
      <li class="dropdownCon nav-dropdown">
        <span class="nav-item-list navbar-item-menu-link">Services</span>
        <ul class="dropdown" id="services-dropdown">
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/interior-car-cleaning-service/"
              >Interior Car Cleaning</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/paint-protection-and-coating-services/"
              >Paint Protection And Coating
            </a>
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/ceramic-coating-service/"
              >Ceramic Coating
            </a>
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/full-car-detailing-service/"
              >Full Car Detailing</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/exterior-car-cleaning-washing/"
              >Exterior Car Cleaning & Washing</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/car-dry-cleaning-service/"
              >Car Dry Cleaning</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/car-body-polish-and-car-waxing-service/"
              >Complete Car Body Polish and Wax</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/full-car-wash-service/"
              >Full Car Wash</a
            >
          </li>

          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/car-deep-cleaning-services/"
              >Deep Cleaning</a
            >
          </li>

          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/glass-and-surface-coating-services/"
              >Glass and Surface Coating</a
            >
          </li>

          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/Doorstep-car-decoration-service-in-dehradun/"
              >Car Decor</a
            >
          </li>

          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="/best-car-mechanics-in-dehradun/"
              >Car Mechanic</a
            >
          </li>
        </ul>
      </li>

      <!-- <li style="cursor: pointer">
        <a
          class="nav-item-list"
          style="
            font-size: 1.1rem;
            font-weight: 700;
            text-decoration: none;
            color: #000;
          "
          href="../franchise/"
          >Partner with Us</a
        >
      </li> -->
      <li class="dropdownCon" style="cursor: pointer; position: relative">
        <span class="nav-item-list navbar-item-menu-link">Our Location</span>
        <ul class="dropdown">
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-dehradun/"
              >Dehradun</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-aligarh/"
              >Aligarh</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-roorkee/"
              >Roorkee</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-Haridwar/"
              >Haridwar</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-noida/"
              >Noida</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-Rishikesh/"
              >Rishikesh</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-mussoorie/"
              >Mussoorie</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-delhi/"
              >Delhi</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-gurgaon/"
              >Gurgaon</a
            >
          </li>
          <li class="menu-navbar-services">
            <a
              class="nav-item-list navbar-item-menu-link"
              href="../doorstep-car-washing-service-in-faridabad/"
              >Faridabad</a
            >
          </li>
        </ul>
      </li>
      <!-- <li style="cursor: pointer">
        <a
          class="nav-item-list"
          style="
            font-size: 1.1rem;
            font-weight: 700;
            text-decoration: none;
            color: #000;
          "
          href="../pricing/"
          >Pricing</a
        >
      </li> -->
      <li style="cursor: pointer">
        <a class="nav-item-list navbar-item-menu-link" href="../contactus/"
          >Contact Us</a
        >
      </li>
    </ul>
    <div class="hamburger-menu-container">
      <button
        class="toggle navbar-toggle-menu"
        id="toggle"
        style="margin-top: 0px"
      >
        <ion-icon
          name="menu"
          style="width: 30px; height: 30px; color: #0b4c9d"
        ></ion-icon>
      </button>
    </div>
  </div>
</nav>
